:host {
  --decoration-color: oklch(0.881 0.142 201.59);

  --decoration-default-color: oklch(from var(--decoration-color) 1 0.02 h);

  --color-scrollbar-background: oklch(from var(--decoration-color) 0.75 c h);

  --container-background: oklch(from var(--decoration-color) l c h / 0.05);
  --container-border-color: oklch(from var(--decoration-color) l c h / 0.2);

  --color-background: var(--decoration-default-color);
  --text-color: rgba(0, 0, 0, 0.87);

  --editor-actions-size: 2.5rem;

  @media (prefers-color-scheme: dark) {
    --decoration-default-color: oklch(from var(--decoration-color) 0.1 c h);

    --color-scrollbar-background: oklch(from var(--decoration-color) 0.25 c h);

    --text-color: rgba(255, 255, 255, 0.87);
  }
}

* {
  box-sizing: border-box;
}

#editor-container {
  background-color: var(--container-background);
  width: calc(100% - 10rem);
  margin: 0 auto;
  padding: 1rem;
  height: 100dvh;
  border-left: 1px solid var(--container-border-color);
  border-right: 1px solid var(--container-border-color);
  position: relative;
  display: grid;
  grid-template-rows: 78px calc(100dvh - 78px - 3rem);
  gap: 1rem;

  editor-actions {
    position: absolute;
    top: 0;
    left: calc(var(--editor-actions-size) * -1);
  }

  header {
    h1 {
      margin: 1rem 0 0;
      border: 1px solid var(--container-border-color);
    }
  }

  section {
    width: 100%;
    display: grid;
    grid-template-rows: 20px 1fr;
    gap: 1rem;

    > div {
      scrollbar-width: thin;
      scrollbar-color: var(--decoration-color) var(--color-scrollbar-background);

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--decoration-color);
      }

      &::-webkit-scrollbar-track {
        background: var(--color-scrollbar-background);
      }

      min-height: 2.5rem;
      border: 1px solid var(--container-border-color);
      overflow-y: scroll;
      width: 100%;
    }
  }
}
