dialog {
  @property --dialog-size {
    syntax: '<length>';
    initial-value: 20rem;
    inherits: true;
  }

  width: var(--dialog-size);
  max-height: 80vh;
  padding: 0;
  background-color: var(--dialog-background);
  color: var(--text-color);
  border: var(--dialog-border);
  box-shadow: var(--dialog-box-shadow);
  border-radius: 0.25rem;
  overflow: hidden;

  * {
    margin: 0;
    box-sizing: border-box;
  }

  &::backdrop {
    background: transparent;
    backdrop-filter: blur(2px);
    cursor: pointer;
  }

  > div {
    header {
      width: 100%;
      height: 3rem;
      padding: 0 1rem;
      background-color: var(--dialog-header-background);
      display: flex;
      justify-content: space-between;
      align-items: center;
      user-select: none;

      button {
        padding: 0;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
          background-color: var(--btn-hover-bgc-color);
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    section {
      padding: 1rem;
    }
  }
}
