:host {
  @property --decoration-color {
    syntax: '<color>';
    initial-value: #33f3ff;
    inherits: true;
  }

  --decoration-default-color: oklch(from var(--decoration-color) 1 0.02 h);

  --color-scrollbar-background: oklch(from var(--decoration-color) 0.75 c h);

  --container-background: oklch(from var(--decoration-color) 0.95 c h);
  --container-editor-background: oklch(from var(--decoration-color) 0.9 c h);
  --container-border-color: oklch(from var(--decoration-color) 0.7 c h);

  --color-background: var(--decoration-default-color);
  --text-color: oklch(from var(--decoration-color) 0.1 c h);
  --text-action-color: color-mix(in oklch, var(--text-color) 70%, var(--decoration-color) 30%);
  --btn-hover-bgc-color: rgba(0, 0, 0, 0.1);

  --editor-actions-size: 2.5rem;

  --dialog-background: oklch(from var(--decoration-color) 0.9 c h);
  --dialog-header-background: oklch(from var(--container-background) 0.85 c h);
  --dialog-box-shadow:
    rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  --dialog-border: 1px solid transparent;
  --dialog-code-editor-background: oklch(from var(--decoration-color) 0.85 c h);

  @media (prefers-color-scheme: dark) {
    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }

    --decoration-default-color: oklch(from var(--decoration-color) 0.1 c h);

    --color-scrollbar-background: oklch(from var(--decoration-color) 0.25 c h);

    --container-background: oklch(from var(--decoration-color) 0.15 c h);
    --container-editor-background: oklch(from var(--decoration-color) 0.2 c h);
    --container-border-color: oklch(from var(--decoration-color) 0.4 c h);

    --text-color: rgba(255, 255, 255, 0.87);
    --text-action-color: color-mix(in oklch, var(--text-color) 50%, var(--decoration-color) 50%);

    --dialog-background: oklch(from var(--decoration-color) 0.2 c h);
    --dialog-header-background: oklch(from var(--container-background) 0.25 c h);
    --dialog-border: 1px solid oklch(from var(--container-border-color) 0.4 c h);
    --dialog-code-editor-background: oklch(from var(--decoration-color) 0.15 c h);
  }
}

* {
  box-sizing: border-box;
}

#editor-container {
  background-color: var(--container-background);
  width: calc(100% - 10rem);
  margin: 0 auto;
  padding: 1rem;
  height: 100dvh;
  border-left: 1px solid var(--container-border-color);
  border-right: 1px solid var(--container-border-color);
  position: relative;
  display: grid;
  grid-template-rows: 78px calc(100dvh - 78px - 3rem);
  gap: 1rem;
  color: var(--text-color);

  editor-actions {
    position: absolute;
    top: 0;
    left: calc(var(--editor-actions-size) * -1);
  }

  header {
    h1 {
      margin: 1rem 0 0;
      padding: 0 0.5rem;
      border: 1px solid var(--container-border-color);
      background-color: var(--container-editor-background);
    }
  }

  section {
    width: 100%;
    display: grid;
    grid-template-rows: 20px 1fr;
    gap: 1rem;

    > div {
      padding: 1rem;
      background-color: var(--container-editor-background);
      min-height: 2.5rem;
      border: 1px solid var(--container-border-color);
      overflow-y: scroll;
      width: 100%;
      scrollbar-width: thin;
      scrollbar-color: var(--decoration-color) var(--color-scrollbar-background);

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--decoration-color);
      }

      &::-webkit-scrollbar-track {
        background: var(--color-scrollbar-background);
      }

      pre {
        &.shiki {
          cursor: pointer;
          padding: 1rem;
        }
      }
    }
  }
}
